Application/EdFi.Ods.Extensions.GrandBend/Artifacts/Schemas/EXTENSION-Ed-Fi-Extended-Core.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- (c)2020 Ed-Fi Alliance, LLC. All Rights Reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/0320b" xmlns:ann="http://ed-fi.org/annotation" targetNamespace="http://ed-fi.org/0320b" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="Ed-Fi-Core.xsd" />
  <xs:annotation>
    <xs:documentation>===== Ed-Fi 3.2.0-b Extensions =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Domain Entities =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-Applicant">
    <xs:annotation>
      <xs:documentation>This entity represents an individual who has applied for a position with any public or private education institution or agency.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
            <xs:annotation>
              <xs:documentation>The education organization with which the candidate has applied.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicantIdentifier" type="EXTENSION-ApplicantIdentifier">
            <xs:annotation>
              <xs:documentation>A unique alphanumeric code assigned to an applicant.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicantAddress" type="EXTENSION-ApplicantAddress">
            <xs:annotation>
              <xs:documentation>The set of elements that describes an address, including the street address, city, state, and ZIP code.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonalTitlePrefix" type="PersonalTitlePrefix" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A prefix used to denote the title, degree, position, or seniority of the person.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FirstName" type="FirstName">
            <xs:annotation>
              <xs:documentation>A name given to an individual at birth, baptism, or during another naming ceremony, or through legal change.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MiddleName" type="MiddleName" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A secondary name given to an individual at birth, baptism, or during another naming ceremony.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LastSurname" type="LastSurname">
            <xs:annotation>
              <xs:documentation>The name borne in common by members of a family.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GenerationCodeSuffix" type="GenerationCodeSuffix" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An appendage, if any, used to denote an individual's generation in his family (e.g., Jr., Sr., III).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MaidenName" type="LastSurname" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The person's maiden name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Sex" type="SexDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A person's gender.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>SexDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The month, day, and year on which an individual was born.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HispanicLatinoEthnicity" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An indication that the individual traces his or her origin or descent to Mexico, Puerto Rico, Cuba, Central, and South America, and other Spanish cultures, regardless of race. The term, "Spanish origin," can be used in addition to "Hispanic or Latino."</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CitizenshipStatus" type="CitizenshipStatusDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An indicator of whether or not the person is a U.S. citizen.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>CitizenshipStatusDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="HighestCompletedLevelOfEducation" type="LevelOfEducationDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The extent of formal instruction an individual has received (e.g., the highest grade in school completed or its equivalent or the highest degree received).</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>LevelOfEducationDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="YearsOfPriorProfessionalExperience" type="EXTENSION-YearsOfPriorProfessionalExperience" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The total number of years that an individual has previously held a similar professional position in one or more education institutions.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="YearsOfPriorTeachingExperience" type="EXTENSION-YearsOfPriorTeachingExperience" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The total number of years that an individual has previously held a teaching position in one or more education institutions.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LoginId" type="EXTENSION-LoginId" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The login ID for the user; used for security access control interface.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HighlyQualifiedTeacher" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An indication of whether a teacher applicant is classified as highly qualified for his/her prospective assignment according to state definition. This attribute indicates the teacher is highly qualified for ALL Sections to be taught.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HighlyQualifiedAcademicSubject" type="AcademicSubjectDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An applicant subject in which a teacher applicant is classified as highly qualified.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>AcademicSubjectDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StaffExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Staff">
        <xs:sequence>
          <xs:element name="ProbationCompleteDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The date that the staff member's new hire probationary period was completed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Tenured" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An indication as to whether the staff member is tenured.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Descriptors =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Associations =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Extended Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-ApplicantIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of an Applicant.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
        <xs:annotation>
          <xs:documentation>The education organization with which the candidate has applied.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicantIdentifier" type="EXTENSION-ApplicantIdentifier">
        <xs:annotation>
          <xs:documentation>A unique alphanumeric code assigned to an applicant.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-ApplicantReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an Applicant. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="ApplicantIdentity" type="EXTENSION-ApplicantIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of an Applicant.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Extended Descriptor Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Common Types =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-ApplicantAddress">
    <xs:annotation>
      <xs:documentation>The set of elements that describes an address, including the street address, city, state, and ZIP code.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Common</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StreetNumberName" type="StreetNumberName">
        <xs:annotation>
          <xs:documentation>The street number and street name or post office box number of an address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApartmentRoomSuiteNumber" type="ApartmentRoomSuiteNumber" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The apartment, room, or suite number of an address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BuildingSiteNumber" type="BuildingSiteNumber" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The number of the building on the site, if more than one building shares the same address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City" type="City">
        <xs:annotation>
          <xs:documentation>The name of the city in which an address is located.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StateAbbreviation" type="StateAbbreviationDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>The abbreviation for the state (within the United States) or outlying area in which an address is located.</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>StateAbbreviationDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostalCode" type="PostalCode">
        <xs:annotation>
          <xs:documentation>The five or nine digit zip code or overseas postal code portion of an address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NameOfCounty" type="NameOfCounty" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The name of the county, parish, borough, or comparable unit (within a state) in
                                    'which an address is located.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountyFIPSCode" type="CountyFIPSCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The Federal Information Processing Standards (FIPS) numeric code for the county issued by the National Institute of Standards and Technology (NIST). Counties are considered to be the "first-order subdivisions" of each State and statistically equivalent entity, regardless of their local designations (county, parish, borough, etc.) Counties in different States will have the same code. A unique county number is created when combined with the 2-digit FIPS State Code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Latitude" type="Coordinate" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The geographic latitude of the physical address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Longitude" type="Coordinate" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The geographic longitude of the physical address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressType" type="AddressTypeDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>The type of address listed for an individual or organization.    For example:  Physical Address, Mailing Address, Home Address, etc.)</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>AddressTypeDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="BeginDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The month, day, and year the address became effective.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The month, day, and year the address ceased to be in effect.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Enumerations and Enumerated Collections =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== String Simple Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-ApplicantIdentifier">
    <xs:annotation>
      <xs:documentation>A unique alphanumeric code assigned to an applicant.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="32" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-LoginId">
    <xs:annotation>
      <xs:documentation>The login ID for the user; used for security access control interface.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation>===== Numeric Simple Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-YearsOfPriorProfessionalExperience">
    <xs:annotation>
      <xs:documentation>The total number of years that an individual has previously held a similar professional position in one or more education institutions.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="5" />
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-YearsOfPriorTeachingExperience">
    <xs:annotation>
      <xs:documentation>The total number of years that an individual has previously held a teaching position in one or more education institutions.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="5" />
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
