Application/EdFi.Ods.Extensions.NMPED/Artifacts/Schemas/EXTENSION-Ed-Fi-Extended-Core.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/3.3.0-a" xmlns:ann="http://ed-fi.org/annotation" targetNamespace="http://ed-fi.org/3.3.0-a" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="Ed-Fi-Core.xsd" />
  <xs:annotation>
    <xs:documentation>===== Ed-Fi 3.3.0-a Extensions =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Domain Entities =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-DisciplineIncidentExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DisciplineIncident">
        <xs:sequence>
          <xs:element name="DrugRelatedIndicator" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>An indication of whether or not this discipline incident is drug related or not.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AlcoholRelatedIndicator" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>An indication of whether or not this discipline incident is alcohol related or not.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GangRelatedIndicator" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>An indication of whether or not this discipline incident is gang related or not.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HateCrimeRelatedIndicator" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>An indication of whether or not this discipline incident is hate crime related or not.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SeriousBodilyInjuryIndicator" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>An indication of whether or not this discipline incident is serious bodily injury related or not.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Descriptors =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-DirectCertificationStatusDescriptor">
    <xs:annotation>
      <xs:documentation>This descriptor describes the type of direct certification statuses.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-SpecialEducationLevelOfIntegrationDescriptor">
    <xs:annotation>
      <xs:documentation>This descriptor describes the type of Levels of Integration.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-SpecialProgramCodeDescriptor">
    <xs:annotation>
      <xs:documentation>This Code for the special program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Associations =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-StudentEducationOrganizationAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentEducationOrganizationAssociation">
        <xs:sequence>
          <xs:element name="YearsInUSSchool" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>This field holds the date when a student entered a US school.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Grade09Entry" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>This field holds the date when a student entered the ninth grade.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSchoolFoodServiceProgramAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentSchoolFoodServiceProgramAssociation">
        <xs:sequence>
          <xs:element name="DirectCertificationStatus" type="EXTENSION-DirectCertificationStatusDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>Identifies the Direct Certification Status of a student. This does not apply to all students in the district.
                                    Valid values:
                                    1 = SNAP Direct Cert as identified in the direct certification report and certified by the district.
                                    2 = Other Direct Cert Eligible (Homeless, FDPIR, Foster, Migrant, and Head Start)
                                    3 = Family Members of SNAP identified students that were not found in the Direct Certification report.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-DirectCertificationStatusDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSectionAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentSectionAssociation">
        <xs:sequence>
          <xs:element name="SpecialProgramCode" type="EXTENSION-SpecialProgramCodeDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>The special program code the student is in.
                                D = Dual Credit Course
                                C = Concurrent Enrollment Course</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-SpecialProgramCodeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="AlternateCreditCourseCode" type="EXTENSION-AlternateCreditCourseCode" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ALTERNATE CREDIT COURSE CODE</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSpecialEducationProgramAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentSpecialEducationProgramAssociation">
        <xs:sequence>
          <xs:element name="SpecialEducationLevelOfIntegration" type="EXTENSION-SpecialEducationLevelOfIntegrationDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>This field holds the level of integration that represents the amount of special education service.
                                      Valid values are:
                                      1 = Less than 10% of the day (minimum or 'A')
                                      2 = 11% to 49% of the day (moderate or 'B')
                                      3 = 50% of the day or more, but not a full day (extensive or 'C')
                                      4 = Up to a full day or program 3Y/4Y (maximum or 'D')</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-SpecialEducationLevelOfIntegrationDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Extended Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Extended Descriptor Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-DirectCertificationStatusDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This descriptor describes the type of direct certification statuses.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-SpecialEducationLevelOfIntegrationDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This descriptor describes the type of Levels of Integration.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-SpecialProgramCodeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This Code for the special program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation>===== Common Types =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Enumerations and Enumerated Collections =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== String Simple Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-AlternateCreditCourseCode">
    <xs:annotation>
      <xs:documentation>ALTERNATE CREDIT COURSE CODE</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation>===== Numeric Simple Types =====</xs:documentation>
  </xs:annotation>
</xs:schema>
