Application/EdFi.Ods.Extensions.NMPED/Artifacts/Schemas/EXTENSION-Ed-Fi-Extended-Core.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/3.3.0-a" xmlns:ann="http://ed-fi.org/annotation" targetNamespace="http://ed-fi.org/3.3.0-a" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="Ed-Fi-Core.xsd" />
  <xs:annotation>
    <xs:documentation>===== Ed-Fi 3.3.0-a Extensions =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Domain Entities =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-DisciplineIncidentExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DisciplineIncident">
        <xs:sequence>
          <xs:element name="DrugRelatedIndicator" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>An indication of whether or not this discipline incident is drug related or not.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AlcoholRelatedIndicator" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>An indication of whether or not this discipline incident is alcohol related or not.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GangRelatedIndicator" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>An indication of whether or not this discipline incident is gang related or not.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HateCrimeRelatedIndicator" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>An indication of whether or not this discipline incident is hate crime related or not.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SeriousBodilyInjuryIndicator" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>An indication of whether or not this discipline incident is serious bodily injury related or not.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-NMPEDService">
    <xs:annotation>
      <xs:documentation>The student's program service information.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="Service" type="ServiceDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>Indicates the Service being provided to the student by the Program.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>ServiceDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrimaryIndicator" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>True if service is a primary service.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceBeginDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>First date the Student was in this option for the current school year.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceEndDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Last date the Student was in this option for the current school year.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceFrequency" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the frequency of the service.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceProviderName" type="EXTENSION-ServiceProviderName" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The name of the service provider.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceProviderType" type="EXTENSION-ServiceProviderTypeDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The type of the service provider.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-ServiceProviderTypeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceSetting" type="EXTENSION-ServiceSettingDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The service setting.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-ServiceSettingDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceDuration" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the duration of the service.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StaffDevelopment">
    <xs:annotation>
      <xs:documentation>The development activities a staff has accomplished.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="StaffReference" type="StaffReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the Student.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the Education Organization representing the context of the student information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StartDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>The date the staff development started.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The date the staff development ended.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StaffDevelopmentActivityCode" type="EXTENSION-StaffDevelopmentActivityCodeDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>The staff development activity code.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-StaffDevelopmentActivityCodeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="StaffDevelopmentPurposeCode" type="EXTENSION-StaffDevelopmentPurposeCodeDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The staff development purpose code.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-StaffDevelopmentPurposeCodeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActivityHours" type="xs:int">
            <xs:annotation>
              <xs:documentation>The hours the activity took.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StaffCreditsEarned" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The credits earned by the staff.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StaffEducationOrganizationDigitalEquity">
    <xs:annotation>
      <xs:documentation>The staff digital equity.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="StaffReference" type="StaffReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the Student.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the Education Organization representing the context of the student information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SchoolYear" type="SchoolYearType">
            <xs:annotation>
              <xs:documentation>The school year the digital equity event took place.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StartDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>The date the digital equity started.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The date the digital equity ended.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DigitalEquityPrimaryLearningDeviceType" type="EXTENSION-DigitalEquityPrimaryLearningDeviceTypeDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>The primary learning device type.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-DigitalEquityPrimaryLearningDeviceTypeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="SchoolProvidedDevice" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates whether the school provides a device or not.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DigitalEquityPrimaryLearningDeviceAccess" type="EXTENSION-DigitalEquityPrimaryLearningDeviceAccessDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>Defines the primary learning device access.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-DigitalEquityPrimaryLearningDeviceAccessDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="DigitalEquityInternetAccessType" type="EXTENSION-DigitalEquityInternetAccessTypeDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>Internet access type.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-DigitalEquityInternetAccessTypeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="DigitalEquityInternetPerformanceCode" type="EXTENSION-DigitalEquityInternetPerformanceCodeDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>Internet performance code.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-DigitalEquityInternetPerformanceCodeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="InternetAccessInResidence" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates if there is Internet access in the staff's residece.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StaffExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Staff">
        <xs:sequence>
          <xs:element name="HighestCompletedLevelOfEducationInstitutionLevelOfEducationInstitution" type="EXTENSION-LevelOfEducationInstitutionDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the Highest Completed Level Of Education Institution.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-LevelOfEducationInstitutionDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="BaccalaureateInstitutionDescriptorIdLevelOfEducationInstitution" type="EXTENSION-LevelOfEducationInstitutionDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the Baccalaureate Level Of Education Institution.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-LevelOfEducationInstitutionDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentEducationOrganizationAward">
    <xs:annotation>
      <xs:documentation>The awards a student has earned at a education organization.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="StudentReference" type="StudentReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the Student.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the Education Organization representing the context of the student information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SchoolYear" type="SchoolYearType">
            <xs:annotation>
              <xs:documentation>The school year the student earned the award.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StudentAwardType" type="EXTENSION-StudentAwardTypeDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>The type of award.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-StudentAwardTypeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="StudentAwardLanguage" type="EXTENSION-StudentAwardLanguageDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>The language for the award.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-StudentAwardLanguageDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="AwardDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>The date the student got awarded.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Student">
        <xs:sequence>
          <xs:element name="GenderIdentity" type="EXTENSION-GenderIdentityDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the gender the student identifies with.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-GenderIdentityDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSchoolAggregateSectionAttendance">
    <xs:annotation>
      <xs:documentation>The student's aggregate section attendance.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="SchoolReference" type="SchoolReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the School.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StudentReference" type="StudentReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the Student.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SchoolYear" type="SchoolYearType">
            <xs:annotation>
              <xs:documentation>The school year the student earned the award.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BeginDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>The begin date.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The end date.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberOfScheduledPeriods" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The number of scheduled periods.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberOfPeriodsAttended" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The number of periods attended.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberOfPeriodsExcused" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The number of periods excused.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSpecialEducationProgramAssociationSpecialEducationProgramEvent">
    <xs:annotation>
      <xs:documentation>This is documentation.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="StudentSpecialEducationProgramAssociationReference" type="StudentSpecialEducationProgramAssociationReferenceType">
            <xs:annotation>
              <xs:documentation>The student program association.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EventDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>The date of the event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SpecialEducationEventType" type="EXTENSION-SpecialEducationEventTypeDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>The special education event type.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-SpecialEducationEventTypeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="SpecialEducationEventReason" type="EXTENSION-SpecialEducationEventReasonDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The special education event reason.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-SpecialEducationEventReasonDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="SpecialEducationNonComplianceReason" type="EXTENSION-SpecialEducationNonComplianceReasonDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The special education non compliance reason.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-SpecialEducationNonComplianceReasonDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Descriptors =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-AnnualReviewDelayReasonDescriptor">
    <xs:annotation>
      <xs:documentation>The annual review delay reason.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-ClassPeriodDescriptor">
    <xs:annotation>
      <xs:documentation>This descriptor describes the Class Period.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-DentalExaminationVerificationCodeDescriptor">
    <xs:annotation>
      <xs:documentation>The code of the dental examination performed.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-DigitalEquityInternetAccessTypeDescriptor">
    <xs:annotation>
      <xs:documentation>The digital equity internet access type.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-DigitalEquityInternetPerformanceCodeDescriptor">
    <xs:annotation>
      <xs:documentation>The digital equity internet performance code.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-DigitalEquityPrimaryLearningDeviceAccessDescriptor">
    <xs:annotation>
      <xs:documentation>The digital equity primary leanring device access.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-DigitalEquityPrimaryLearningDeviceTypeDescriptor">
    <xs:annotation>
      <xs:documentation>The digital equity primary leaning device type.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-DirectCertificationStatusDescriptor">
    <xs:annotation>
      <xs:documentation>This descriptor describes the type of direct certification statuses.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-GenderIdentityDescriptor">
    <xs:annotation>
      <xs:documentation>The gender the person identifies with.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-IndustryCredentialDescriptor">
    <xs:annotation>
      <xs:documentation>This descriptor describes the Industry Credential for the student's program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-LevelOfEducationInstitutionDescriptor">
    <xs:annotation>
      <xs:documentation>Indicates the Level of Education Institution</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-ParticipationInformationDescriptor">
    <xs:annotation>
      <xs:documentation>This descriptor describes the Program Participation Information.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-PlannedPostGraduateActivityDescriptor">
    <xs:annotation>
      <xs:documentation>The planned post graduate activity.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-ProgramDeliveryMethodDescriptor">
    <xs:annotation>
      <xs:documentation>This descriptor describes the delivery method for the student's program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-ProgramIntensityDescriptor">
    <xs:annotation>
      <xs:documentation>This descriptor describes the Program Intensity.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-ServiceProviderTypeDescriptor">
    <xs:annotation>
      <xs:documentation>The type of the service provider.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-ServiceSettingDescriptor">
    <xs:annotation>
      <xs:documentation>The service setting.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-SpecialEducationEventReasonDescriptor">
    <xs:annotation>
      <xs:documentation>The special education event reason.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-SpecialEducationEventTypeDescriptor">
    <xs:annotation>
      <xs:documentation>The special education event type.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-SpecialEducationLevelOfIntegrationDescriptor">
    <xs:annotation>
      <xs:documentation>This descriptor describes the type of Levels of Integration.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-SpecialEducationNonComplianceReasonDescriptor">
    <xs:annotation>
      <xs:documentation>The special education event non compliance reason.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-SpecialProgramCodeDescriptor">
    <xs:annotation>
      <xs:documentation>This Code for the special program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StaffDevelopmentActivityCodeDescriptor">
    <xs:annotation>
      <xs:documentation>This descriptor describes the staff development activity code.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StaffDevelopmentPurposeCodeDescriptor">
    <xs:annotation>
      <xs:documentation>This descriptor describes the staff development purpose.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentAwardLanguageDescriptor">
    <xs:annotation>
      <xs:documentation>The award language codes.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentAwardTypeDescriptor">
    <xs:annotation>
      <xs:documentation>The award type.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-TriennialReviewDelayReasonDescriptor">
    <xs:annotation>
      <xs:documentation>The triennial review reason.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Associations =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-StaffSectionAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StaffSectionAssociation">
        <xs:sequence>
          <xs:element name="ClassPeriod" type="EXTENSION-ClassPeriodDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the Class Period of this section.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-ClassPeriodDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentCTEProgramAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentCTEProgramAssociation">
        <xs:sequence>
          <xs:element name="ProgramDeliveryMethod" type="EXTENSION-ProgramDeliveryMethodDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>Identifies the Delivery Method for a program a student is enrolled in.
                                Valid values:
                                CG = College Granted Certificate
                                IS = Industry Standard Third Party Assessment</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-ProgramDeliveryMethodDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="IndustryCredential" type="EXTENSION-IndustryCredentialDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>Identifies the Industry Credential for a program a student is enrolled in.
                                Valid values: (too many to list here)</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-IndustryCredentialDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="CredentialEarnedDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The date the credential was earned.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentEducationOrganizationAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentEducationOrganizationAssociation">
        <xs:sequence>
          <xs:element name="Grade09Entry" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>This field holds the date when a student entered the ninth grade.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DentalExaminationVerificationCode" type="EXTENSION-DentalExaminationVerificationCodeDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>This code for the dental examination performed.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-DentalExaminationVerificationCodeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentProgramAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentProgramAssociation">
        <xs:sequence>
          <xs:element name="NMPEDServiceReference" type="EXTENSION-NMPEDServiceReferenceType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The New Mexico Service extension.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ParticipationInformation" type="EXTENSION-ParticipationInformationDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the program participation information.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-ParticipationInformationDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProgramIntensity" type="EXTENSION-ProgramIntensityDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the program Intensity.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-ProgramIntensityDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSchoolFoodServiceProgramAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentSchoolFoodServiceProgramAssociation">
        <xs:sequence>
          <xs:element name="DirectCertificationStatus" type="EXTENSION-DirectCertificationStatusDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>Identifies the Direct Certification Status of a student. This does not apply to all students in the district.
                                    Valid values:
                                    1 = SNAP Direct Cert as identified in the direct certification report and certified by the district.
                                    2 = Other Direct Cert Eligible (Homeless, FDPIR, Foster, Migrant, and Head Start)
                                    3 = Family Members of SNAP identified students that were not found in the Direct Certification report.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-DirectCertificationStatusDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSectionAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentSectionAssociation">
        <xs:sequence>
          <xs:element name="SpecialProgramCode" type="EXTENSION-SpecialProgramCodeDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The special program code the student is in.
                                D = Dual Credit Course
                                C = Concurrent Enrollment Course</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-SpecialProgramCodeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="AlternateCreditCourseCode" type="EXTENSION-AlternateCreditCourseCode" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ALTERNATE CREDIT COURSE CODE</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSpecialEducationProgramAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentSpecialEducationProgramAssociation">
        <xs:sequence>
          <xs:element name="SpecialEducationLevelOfIntegration" type="EXTENSION-SpecialEducationLevelOfIntegrationDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>This field holds the level of integration that represents the amount of special education service.
                                      Valid values are:
                                      1 = Less than 10% of the day (minimum or 'A')
                                      2 = 11% to 49% of the day (moderate or 'B')
                                      3 = 50% of the day or more, but not a full day (extensive or 'C')
                                      4 = Up to a full day or program 3Y/4Y (maximum or 'D')</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-SpecialEducationLevelOfIntegrationDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="AnnualReviewDelayReason" type="EXTENSION-AnnualReviewDelayReasonDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The annual review delay reason.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-AnnualReviewDelayReasonDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="TriennialReviewDelayReason" type="EXTENSION-TriennialReviewDelayReasonDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The triennual review delay reason.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-TriennialReviewDelayReasonDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlannedPostGraduateActivity" type="EXTENSION-PlannedPostGraduateActivityDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The planned post graduate activity.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-PlannedPostGraduateActivityDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Extended Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-NMPEDServiceIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of a NMPEDService.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Service" type="ServiceDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>Indicates the Service being provided to the student by the Program.</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>ServiceDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-NMPEDServiceReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for a NMPEDService. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="NMPEDServiceIdentity" type="EXTENSION-NMPEDServiceIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of a NMPEDService.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StaffDevelopmentIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of a StaffDevelopment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StaffReference" type="StaffReferenceType">
        <xs:annotation>
          <xs:documentation>A reference to the Student.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
        <xs:annotation>
          <xs:documentation>A reference to the Education Organization representing the context of the student information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>The date the staff development started.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StaffDevelopmentReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for a StaffDevelopment. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="StaffDevelopmentIdentity" type="EXTENSION-StaffDevelopmentIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of a StaffDevelopment.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StaffEducationOrganizationDigitalEquityIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of a StaffEducationOrganizationDigitalEquity.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StaffReference" type="StaffReferenceType">
        <xs:annotation>
          <xs:documentation>A reference to the Student.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
        <xs:annotation>
          <xs:documentation>A reference to the Education Organization representing the context of the student information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SchoolYear" type="SchoolYearType">
        <xs:annotation>
          <xs:documentation>The school year the digital equity event took place.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>The date the digital equity started.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StaffEducationOrganizationDigitalEquityReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for a StaffEducationOrganizationDigitalEquity. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="StaffEducationOrganizationDigitalEquityIdentity" type="EXTENSION-StaffEducationOrganizationDigitalEquityIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of a StaffEducationOrganizationDigitalEquity.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentEducationOrganizationAwardIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of a StudentEducationOrganizationAward.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StudentReference" type="StudentReferenceType">
        <xs:annotation>
          <xs:documentation>A reference to the Student.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
        <xs:annotation>
          <xs:documentation>A reference to the Education Organization representing the context of the student information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SchoolYear" type="SchoolYearType">
        <xs:annotation>
          <xs:documentation>The school year the student earned the award.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StudentAwardType" type="EXTENSION-StudentAwardTypeDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>The type of award.</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>EXTENSION-StudentAwardTypeDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="StudentAwardLanguage" type="EXTENSION-StudentAwardLanguageDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>The language for the award.</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>EXTENSION-StudentAwardLanguageDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AwardDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>The date the student got awarded.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentEducationOrganizationAwardReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for a StudentEducationOrganizationAward. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="StudentEducationOrganizationAwardIdentity" type="EXTENSION-StudentEducationOrganizationAwardIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of a StudentEducationOrganizationAward.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSchoolAggregateSectionAttendanceIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of a StudentSchoolAggregateSectionAttendance.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SchoolReference" type="SchoolReferenceType">
        <xs:annotation>
          <xs:documentation>A reference to the School.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StudentReference" type="StudentReferenceType">
        <xs:annotation>
          <xs:documentation>A reference to the Student.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SchoolYear" type="SchoolYearType">
        <xs:annotation>
          <xs:documentation>The school year the student earned the award.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BeginDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>The begin date.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSchoolAggregateSectionAttendanceReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for a StudentSchoolAggregateSectionAttendance. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="StudentSchoolAggregateSectionAttendanceIdentity" type="EXTENSION-StudentSchoolAggregateSectionAttendanceIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of a StudentSchoolAggregateSectionAttendance.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSpecialEducationProgramAssociationSpecialEducationProgramEventIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of a StudentSpecialEducationProgramAssociationSpecialEducationProgramEvent.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StudentSpecialEducationProgramAssociationReference" type="StudentSpecialEducationProgramAssociationReferenceType">
        <xs:annotation>
          <xs:documentation>The student program association.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSpecialEducationProgramAssociationSpecialEducationProgramEventReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for a StudentSpecialEducationProgramAssociationSpecialEducationProgramEvent. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="StudentSpecialEducationProgramAssociationSpecialEducationProgramEventIdentity" type="EXTENSION-StudentSpecialEducationProgramAssociationSpecialEducationProgramEventIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of a StudentSpecialEducationProgramAssociationSpecialEducationProgramEvent.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Extended Descriptor Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-AnnualReviewDelayReasonDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The annual review delay reason.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-ClassPeriodDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This descriptor describes the Class Period.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-DentalExaminationVerificationCodeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The code of the dental examination performed.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-DigitalEquityInternetAccessTypeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The digital equity internet access type.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-DigitalEquityInternetPerformanceCodeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The digital equity internet performance code.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-DigitalEquityPrimaryLearningDeviceAccessDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The digital equity primary leanring device access.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-DigitalEquityPrimaryLearningDeviceTypeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The digital equity primary leaning device type.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-DirectCertificationStatusDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This descriptor describes the type of direct certification statuses.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-GenderIdentityDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The gender the person identifies with.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-IndustryCredentialDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This descriptor describes the Industry Credential for the student's program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-LevelOfEducationInstitutionDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>Indicates the Level of Education Institution</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-ParticipationInformationDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This descriptor describes the Program Participation Information.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-PlannedPostGraduateActivityDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The planned post graduate activity.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-ProgramDeliveryMethodDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This descriptor describes the delivery method for the student's program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-ProgramIntensityDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This descriptor describes the Program Intensity.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-ServiceProviderTypeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The type of the service provider.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-ServiceSettingDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The service setting.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-SpecialEducationEventReasonDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The special education event reason.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-SpecialEducationEventTypeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The special education event type.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-SpecialEducationLevelOfIntegrationDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This descriptor describes the type of Levels of Integration.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-SpecialEducationNonComplianceReasonDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The special education event non compliance reason.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-SpecialProgramCodeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This Code for the special program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-StaffDevelopmentActivityCodeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This descriptor describes the staff development activity code.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-StaffDevelopmentPurposeCodeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This descriptor describes the staff development purpose.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-StudentAwardLanguageDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The award language codes.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-StudentAwardTypeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The award type.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-TriennialReviewDelayReasonDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The triennial review reason.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation>===== Common Types =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-SpecialEducationProgramServiceExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Common</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="SpecialEducationProgramService">
        <xs:sequence>
          <xs:element name="IntegratedServicesStatus" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The status of the integrated service.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceDuration" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The service duration.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StaffUSI" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The Staff Unique State Identifier</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Enumerations and Enumerated Collections =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== String Simple Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-AlternateCreditCourseCode">
    <xs:annotation>
      <xs:documentation>ALTERNATE CREDIT COURSE CODE</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-ServiceProviderName">
    <xs:annotation>
      <xs:documentation>The name of the service provider.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation>===== Numeric Simple Types =====</xs:documentation>
  </xs:annotation>
</xs:schema>
